/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    position: relative;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("img/motherboard.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("img/motherboard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 32em;
    background-attachment: fixed;
}

.rack-text-box h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
    font-size: 150%;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-weight: 400;
}

.rack-text-box {
    position: absolute;
    top: 35%;
    left: 5%;
    color: white;
}

.rack-text-box a:link {
    text-decoration: none;
}

span {
    text-transform: lowercase;
    color: white;
}

/* ----------------------------------------------- */
/* MAIN NAV */
/* ----------------------------------------------- */

.topnav {
    overflow: hidden;
    background-color: rgb(73, 72, 72); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, white 25% , rgb(73, 72, 72));
    height: 80px;
    border-bottom: 2px solid red;
  }
  
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 30px 20px 5px 20px;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  .topnav a:hover {
    border-bottom: 2px solid red;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .header--image {
      position: relative;
      top: -80px;
      left: 0;
      width: 22%;
      height: auto;
  }

  /* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

/* ----------------------------------------------- */
/* COMPANY VIDEO SECTION */
/* ----------------------------------------------- */

.company-video {
    background-color: white;
    position: relative;
    height: 95vh;
    margin:0 auto;
    padding: 0 5%;
}

.column_1 {
    float: left;
    width: 50%;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height: 0;
    margin-top: 2.5%;
 }

 .column_2 {
    float: right;
    width: 50%;
    margin-top: 18%;
 }

 .column_2 h2 {
     font-size: 1.75em;
     text-align: center;
     margin-bottom: 10px;
 }

 .column_2 p {
    text-align: center;
}

.video {
    left:0;
    top: 22%;
    height:50%;
    width:90%;
    position:absolute;
}

/* ----------------------------------------------- */
/* COMPANY INFO SECTION */
/* ----------------------------------------------- */

.company-info {
    background-color: #f4f4f4;
    padding: 160px 0 120px;
    position: relative;
}

.RMI_logo {
    display: none;
}

.company-info p {
    width: 50%;
    text-align: justify;
    padding: 10px;
    margin-left: 2%;
}


.logo1 {
    width: 40%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 55%;
}

.logo2 {
    width: 300px;
    height: auto;
    position: absolute;
    top: 52%;
    left: 65%;
}

.caption {
    position: absolute;
    top: 80%;
    left: 67%;
    text-transform: capitalize;
    text-decoration: underline;
    color: blue;
    text-align: center;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 10px;
    font-size: 1em;
    height: 10em;
    color: #888;

}

footer ul {
    list-style: none;
    color: #888;
    text-align: center;
    margin: 30px auto;
}

footer li {
    color: inherit;
    text-decoration: none;
}

.email {
    color: rgb(223, 81, 81);
}

i {
    margin: 10px;
    font-size: 150%;
}

.fab {
    color: #888;
}

.fa-twitter:hover {
    color: #00acee
}

.fa-linkedin-in:hover {
    color: #0e76a8;
}


